body {
    background-color: hsl(151, 74%, 91%);
    font-family: Arial, Helvetica, sans-serif;
    color:red;
    margin: 0px;
    overflow-y: scroll;
}
.logo {
    max-width: 100px;
}
.page-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    background-color: bisque;
}
.slide {
    width: 100%;
    min-height: 50vh;
    background-color:hsl(151, 20%, 26%);
    color:hsl(151, 74%, 91%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-position: center;
    aspect-ratio: 16/5;
}
.one {
    background-image: url("images/pexels-craytive-1545529.jpg");
}
.two {
    background-image: url("images/pexels-jill-wellington-1638660-39351.jpg");
}
.three {
    background-image: url("images/pexels-pixabay-290316.jpg");
}
.four {
    background-image: url("images/pexels-valeriya-1123260.jpg");
}
.five {
    background-image: url("images/pexels-pixabay-51947.jpg");
}
.slide p {
    font-size: 3em;
    text-shadow: 0px 0px 1px black;
    background-color: rgba(0, 0, 0, 0.695);
    min-width: 150px;
    text-align: center;
    padding: 5px;
    border-radius: 20px;
    color: yellow;
}

.page-content {
    margin-top: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 20px;
    row-gap: 30px;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}
img {
    max-width: 100%;
}