body {
    background-color: hsl(151, 74%, 91%);
    font-family: Arial, Helvetica, sans-serif;
    color:red;
}
.logo {
    max-width: 100px;
}
.page-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    background-color: bisque;
}
.slide {
    width: 100%;
    min-height: 50vh;
    background-color:hsl(151, 20%, 26%);
    color:hsl(151, 74%, 91%);
}